<header class="header">
    <section class="header__navbar">
        <img class="header__navbar-logo" src="images/logo.svg" />
        <nav class="header__navbar-nav" style="display:@NavMenuCssClass">
            <ul class="header__navbar-nav-list">
                <li>
                    <span>Home</span>
                </li>
                <li>
                    <span>Service</span>
                </li>
                <li>
                    <span>Projects</span>
                </li>
                <li>
                    <button>Contact</button>
                </li>
            </ul>
        </nav>
        <button class="header__navbar-navmenutoggle" @onclick="ToggleNavMenu">
            <span class="fa-solid fa-bars"></span>
        </button>
    </section>
</header>

@code {
    private bool collapseNavMenu;

    private string? NavMenuCssClass => collapseNavMenu ? "none" : "block";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
