<header class="header">
    <section class="header__navbar">
        <img class="header__navbar-logo" alt="sunnyside logo" src="images/logo.svg" />
        <nav class="header__navbar-nav" style="display: @NavMenuCssClass">
            <ul class="header__navbar-nav-list">
                <li>
                    <span>About</span>
                </li>
                <li>
                    <span>Service</span>
                </li>
                <li>
                    <span>Projects</span>
                </li>
                <li>
                    <button>Contact</button>
                </li>
            </ul>
        </nav>
        <button class="header__navbar-navmenutoggle" @onclick="ToggleNavMenu">
            <span class="fa-solid fa-bars"></span>
        </button>
    </section>
    <figure>
        <figcaption>
            WE ARE CREATIVES
        </figcaption>
        <img alt="arrow down" src="images/icon-arrow-down.svg" />
    </figure>
</header>

@code {
    private bool collapseNavMenu = false;

    private string? NavMenuCssClass => collapseNavMenu ? "block" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
